@model CRUDEF.Models.Personnel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Personnel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nickname" class="control-label"></label>
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpType" class="control-label"></label>
                <input asp-for="EmpType" class="form-control" />
                <span asp-validation-for="EmpType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActiveDutySvcId" class="control-label"></label>
                <input asp-for="ActiveDutySvcId" class="form-control" />
                <span asp-validation-for="ActiveDutySvcId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficialEmail" class="control-label"></label>
                <input asp-for="OfficialEmail" class="form-control" />
                <span asp-validation-for="OfficialEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dlihire" class="control-label"></label>
                <input asp-for="Dlihire" class="form-control" />
                <span asp-validation-for="Dlihire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scdleave" class="control-label"></label>
                <input asp-for="Scdleave" class="form-control" />
                <span asp-validation-for="Scdleave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityClearance" class="control-label"></label>
                <input asp-for="SecurityClearance" class="form-control" />
                <span asp-validation-for="SecurityClearance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
